<template>
  <b-container class="ombre">
    <header class="row">
      <h1
        class="col"
        v-html="$t('cgu.title')"
      ></h1>
      <b-col
        align-self="end"
        class="text-right"
        cols="2"
      >
        <I18n />
      </b-col>
    </header>

    <hr class="trait" />

    <main>
      <div v-html="$t('cgu.intro')"></div>

      <p><b v-html="$t('cgu.short.sympa.text')"></b></p>
      <ul class="list-group mb-4">
        <li
          v-for="index in Object.keys($t('cgu.short.sympa.list'))"
          :key="index"
          class="list-group-item list-group-item-success fb-v2 fc-v8"
          v-html="$t(`cgu.short.sympa.list[${index}]`)"
        ></li>
      </ul>

      <p v-html="$t('cgu.short.terms.text')"></p>
      <ul class="list-group mb-4">
        <li
          v-for="index in Object.keys($t('cgu.short.terms.list'))"
          :key="index"
          class="list-group-item list-group-item-warning fb-o2 fc-o8"
          v-html="$t(`cgu.short.terms.list[${index}]`)"
        ></li>
      </ul>

      <div v-html="$t('cgu.full')"></div>

      <div class="signature">
        <hr />
        <p v-html="$t('cgu.footer')"></p>
      </div>
    </main>
  </b-container>
</template>

<style lang="scss">
#cgu .list-group-item b {
  &.violet, &.orange {
    color: inherit !important;
  }
}
</style>

<script>
import I18n from '../../commons/components/I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>
