<template>
  <b-container class="ombre">
    <header class="row">
      <h1
        class="col"
        v-html="$t('credits.title')"
      ></h1>
      <b-col
        align-self="end"
        class="text-right"
        cols="2"
      >
        <I18n />
      </b-col>
    </header>

    <hr class="trait" />

    <main>
      <div v-html="$t('credits.main')"></div>

      <div
        id="site-credits"
      >
        <b-card
          id="blog"
          bg-variant="light"
          no-body
          tag="section"
        >
          <b-card-body v-html="$t('credits.blog')" />
        </b-card>
        <b-card
          id="calc"
          bg-variant="light"
          no-body
          tag="section"
        >
          <b-card-body v-html="$t('credits.calc')" />
        </b-card>
        <b-card
          id="contact"
          no-body
          bg-variant="light"
          tag="section"
        >
          <b-card-body v-html="$t('credits.contact')" />
        </b-card>
        <b-card
          id="date"
          bg-variant="light"
          tag="section"
        >
          <h1 v-html="$t('html.date')"></h1>
          <h2>Application d’origine</h2>
          <p>
            L’application <span v-html="$t('html.date')"></span> est une instance du logiciel
            <b><a href="http://studs.u-strasbg.fr">STUdS !</a></b>
            développé à l’Université de Strasbourg depuis 2008.
          </p>
          <p>
            Pour les besoins de <span v-html="$t('html.date')"></span>, STUdS a
            fait l’objet d’un fork par l’équipe <span v-html="$t('html.soft')"></span>.
            Les sources sont disponibles sur <a :href="$t('git.date')">notre Gitlab</a>.
          </p>
          <p>
            Si vous souhaitez installer le logiciel pour votre propre usage,
            vous trouverez
            <a :href="$t('cloud.date')">
              un tutoriel détaillé sur <span v-html="$t('color.cloud')"></span>
            </a>.
          </p>

          <h2>Remerciements</h2>
          <h3><a href="http://studs.u-strasbg.fr">STUdS !</a></h3>
          <p>
            Pour leurs contributions techniques ou ergonomiques&nbsp;: Guy, Christophe,
            Julien, Pierre, Romaric, Matthieu, Catherine, Christine, Olivier,
            Emmanuel et Florence
          </p>

          <h3><a :href="$t('git.date')">Framadate</a></h3>
          <p>
            {{ $t('people.simonl') }}, {{ $t('people.pyg') }}, {{ $t('people.jo') }},
            Olivier Perez, Antonin, {{ $t('people.tcit') }} et la communauté
            <span v-html="$t('html.soft')"></span>.
          </p>

          <h2>Licence</h2>
          <p>
            <span v-html="$t('html.date')"></span> est placé, comme
            <b><a href="http://studs.u-strasbg.fr">STUdS !</a></b>,
            sous la licence libre <span v-html="$t('license.cecillb')"></span>.
          </p>
        </b-card>
        <b-card
          id="degooglisons-internet"
          bg-variant="light"
          tag="section"
        >
          <h1>Dégooglisons Internet</h1>
          <p>
            Maquette, intégration et développement&nbsp;: {{ $t('people.pyg') }},
            Christophe Masutti, Flaburgan, {{ $t('people.jo') }}
          </p>
          <p>Carte et illustrations&nbsp;: {{ $t('people.gee') }}</p>
          <p>Le site utilise le framework libre VueJS.</p>

          <h2>Licence</h2>
          <p>
            Sauf mention contraire, cette page et tous les contenus qui y figurent
            sont placés sous licence libre <span v-html="$t('license.ccbysa2fr')"></span>.
          </p>
          <p>Sources&nbsp;:</p>
          <ul>
            <li>
              <a href="https://wiki.framasoft.org/visuels_plm">
                <em>Dégooglisons Internet</em>
              </a>, {{ $t('people.gee') }}, <span v-html="$t('license.ccbysa2fr')"></span>
            </li>
            <li>
              <a href="https://commons.wikimedia.org/wiki/File:France_map_Lambert-93_topographic-blank.svg">
                <em>France map Lambert-93</em>
              </a>, Eric Gaba,
              <span v-html="$t('license.gnufdl')"></span>/
              <span v-html="$t('license.ccbysa4')"></span>
            </li>
            <li><a :href="$t('git.dio')">Dépôt git</a></li>
          </ul>
        </b-card>
        <b-card
          id="drive"
          bg-variant="light"
          tag="section"
        >
          <h1 v-html="$t('html.drive')">
            Framadrive
          </h1>
          <p>
            <span v-html="$t('html.drive')"></span> est animé par
            le logiciel libre <a href="https://nextcloud.org">Nextcloud</a>.<br />
            Le code source du thème conçu par {{ $t('people.jo') }} se trouve sur
            <a :href="$t('git.drive')"><span v-html="$t('color.git')"></span></a>.
          </p>
        </b-card>
        <b-card
          id="games"
          bg-variant="light"
          tag="section"
        >
          <h1 v-html="$t('html.games')"></h1>
          <p>
            <span v-html="$t('html.games')"></span> regroupe différents logiciels libres développés
            par différentes personnes extérieurs à <span v-html="$t('html.soft')"></span>.
          </p>
          <p>Séléction, traduction et empaquetage&nbsp;: {{ $t('people.cyrille') }}</p>
          <p>
            Vous trouverez la liste des auteurs des différents jeux
            en cliquant sur leur bouton «&nbsp;Crédits&nbsp;» respectifs.
          </p>
        </b-card>
        <b-card
          id="key"
          bg-variant="light"
          tag="section"
        >
          <h1 v-html="$t('html.key')"></h1>
          <p>
            La <span v-html="$t('html.key')"></span> est réalisée par une équipe
            de bénévoles du réseau <span v-html="$t('html.soft')"></span>&nbsp;:
          </p>
          <dl>
            <dt>Réalisation</dt>
            <dd>
              pp (Pascal Parraud) (v1), pyg ({{ $t('people.pyg') }}) (v1),
              {{ $t('people.fat115') }} (v2)
            </dd>
          </dl>
          <dl>
            <dt>Packaging et mise à jours</dt>
            <dd>
              pyg ({{ $t('people.pyg') }}), {{ $t('people.fat115') }} (v1.12+),
              {{ $t('people.cyrille') }} (v1.12+), {{ $t('people.jo') }} (v1.12+)
            </dd>
          </dl>
          <dl>
            <dt>Graphisme et thème</dt>
            <dd>Ayo (v1.5 ; logo), Detruc (v1.6), Roromis (v1.12)</dd>
          </dl>
          <dl>
            <dt>Rédaction</dt>
            <dd>
              {{ $t('people.pyg') }}, Julien Tayon, Eric-Marie Gabalda, Gaëtan Maison,
              {{ $t('people.fat115') }}, {{ $t('people.cyrille') }}, {{ $t('people.jo') }}
            </dd>
          </dl>
          <dl>
            <dt>Communication</dt>
            <dd>Tbernard (Thierry Bernard)</dd>
          </dl>
          <p>
            La <span v-html="$t('html.key')"></span> et son équipe doivent beaucoup
            au projet TheOpenCD sans lequel la <span v-html="$t('html.key')"></span>
            n’aurait probablement pas vu le jour.
          </p>
          <p>
            L’idée de la <span v-html="$t('html.key')"></span> doit énormément au
            travail de John T.Haller, sur les versions portables de certains logiciels
            initalement développés pour <a href="https://portableapps.com/">PortableApps.com</a>.
          </p>
          <p>
            Le contenu (texte) de l’interface de la <span v-html="$t('html.key')"></span>
            est publié sous licence <span v-html="$t('license.ccbysa2fr')"></span>.
          </p>
          <p>
            Les logiciels incluses dans la <span v-html="$t('html.key')"></span>
            sont sous des licences libres diverses.
            Les crédits sont indiqués dans leur interface respective.
            Il en va de même pour les œuvres culturelles (musique, livre…)
          </p>
        </b-card>
        <b-card
          id="lab"
          bg-variant="light"
          tag="section"
        >
          <h1 v-html="$t('html.lab')"></h1>
          <p>
            <span v-html="$t('html.lab')"></span> est le laboratoire de
            projets de <span v-html="$t('html.soft')"></span>.
            Vous y trouverez de nombreux sites web développés - plus ou moins récemment -
            par <span v-html="$t('html.soft')"></span>.
          </p>
          <p>
            Ces derniers peuvent être relativement expérimentaux,
            c’est pourquoi ils ne sont pas nécessairement listés parmi
            <a :href="$t('link.wikipedia')">
              les principaux projets du réseau
              <span v-html="$t('color.soft')"></span>
            </a>.
          </p>
          <p>
            Réalisation du site&nbsp;: {{ $t('people.cyrille') }}, {{ $t('people.pyg') }}
            et {{ $t('people.jo') }}.
          </p>
        </b-card>
        <b-card
          id="libre"
          bg-variant="light"
          tag="section"
        >
          <h1 v-html="$t('html.libre')"></h1>
          <p>
            L’annuaire de <span v-html="$t('html.soft')"></span> est propulsé par
            <a href="https://www.drupal.org/">Drupal</a>,
            logiciel libre sous licence <span v-html="$t('license.gpl2')"></span>.
          </p>
          <h2>Licence</h2>
          <p>
            Les articles de l’annuaire sont sous double licence
            <span v-html="$t('license.ccbysa2fr')"></span>
            et <span v-html="$t('license.gnufdl')"></span>.
          </p>
        </b-card>
        <b-card
          id="mindmap"
          bg-variant="light"
          tag="section"
        >
          <h1 v-html="$t('html.mindmap')"></h1>
          <p>
            <span v-html="$t('html.mindmap')"></span> repose sur le logciel libre
            <a href="http://www.wisemapping.com">Wisemapping</a>.
          </p>
          <p>Intégration&nbsp;: {{ $t('people.jo') }}</p>
          <h2>Licence</h2>
          <p>
            Wisemapping est sous
            <a href="https://wisemapping.atlassian.net/wiki/pages/viewpage.action?pageId=524357">
              licence <abbr title="Wisemapping Public Licence">WPL</abbr>
            </a>.
          </p>
        </b-card>
        <b-card
          id="pad"
          bg-variant="light"
          tag="section"
        >
          <h1 v-html="$t('html.pad')"></h1>
          <p>
            <span v-html="$t('html.pad')"></span> est animé par le logiciel libre
            <a href="http://etherpad.org">Etherpad</a>.
          </p>
        </b-card>
        <b-card
          id="soft"
          bg-variant="light"
          tag="section"
        >
          <h1><span v-html="$t('html.soft')"></span> - Accueil</h1>
          <p>
            Cette page est un portail qui présente l’ensemble des activités et
            des sites web du réseau <span v-html="$t('html.soft')"></span>.
          </p>
          <dl>
            <dt>Maquette</dt>
            <dd>{{ $t('people.sandra') }}</dd>
          </dl>
          <dl>
            <dt>Intégration</dt>
            <dd>{{ $t('people.sandra') }}, {{ $t('people.jo') }}</dd>
          </dl>
        </b-card>
        <b-card
          id="soutenir"
          bg-variant="light"
          tag="section"
        >
          <h1>Site Soutenir</h1>
          <dl>
            <dt>Réalisation</dt>
            <dd>{{ $t('people.pyg') }}, {{ $t('people.jo') }} et {{ $t('people.tcit') }}</dd>
          </dl>
        </b-card>
        <b-card
          id="wiki"
          bg-variant="light"
          tag="section"
        >
          <h1>Wiki</h1>
          <p>
            Le wiki de Framasoft est propulsé par le logiciel libre
            <a href="https://dokuwiki.org/">Dokuwiki</a>.
          </p>
          <h2>Licence</h2>
          <p>
            Sauf mention contraire, le contenu de ce wiki est placé sous licence
            <span v-html="$t('license.ccbysa3')"></span>
          </p>
        </b-card>
        <b-card
          id="zic"
          no-body
          bg-variant="light"
          tag="section"
        >
          <b-card-body v-html="$t('credits.zic')" />
        </b-card>
      </div>
    </main>
  </b-container>
</template>

<script>
import I18n from '../../commons/components/I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>

<style lang="scss">
#credits #site-credits section {
  display: none;

  &:target {
    display: block;
  }

  h2::after {
    content: none;
  }
}

/*
  Fix Firefox
  (:target doesn’t work in production ; possible conflict with nav.js)
*/
[data-url$="#blog"] #credits #site-credits #blog,
[data-url$="#calc"] #credits #site-credits #calc,
[data-url$="#contact"] #credits #site-credits #contact,
[data-url$="#date"] #credits #site-credits #date,
[data-url$="#degooglisons-internet"] #credits #site-credits #degooglisons-internet,
[data-url$="#drive"] #credits #site-credits #drive,
[data-url$="#games"] #credits #site-credits #games,
[data-url$="#key"] #credits #site-credits #key,
[data-url$="#lab"] #credits #site-credits #lab,
[data-url$="#libre"] #credits #site-credits #libre,
[data-url$="#mindmap"] #credits #site-credits #mindmap,
[data-url$="#pad"] #credits #site-credits #pad,
[data-url$="#soft"] #credits #site-credits #soft,
[data-url$="#soutenir"] #credits #site-credits #soutenir,
[data-url$="#wiki"] #credits #site-credits #wiki,
[data-url$="#zic"] #credits #site-credits #zic {
  display: block;
}
</style>
