<template>
  <b-container class="ombre">
    <header class="row">
      <h1
        class="col"
        v-html="$t('graphics.title')"
      ></h1>
      <b-col
        align-self="end"
        class="text-right"
        cols="2"
      >
        <I18n />
      </b-col>
    </header>

    <hr class="trait" />

    <main>
      <Colors />

      <Recommendations />

      <hr class="trait" />

      <Examples />

      <hr class="trait" />

      <Images />

      <Generator />
    </main>
  </b-container>
</template>

<script>
import I18n from '../../commons/components/I18n.vue';

import Colors from '../../commons/views/graphics/Colors.vue';
import Recommendations from '../../commons/views/graphics/Recommendations.vue';
import Examples from '../../commons/views/graphics/Examples.vue';
import Images from '../../commons/views/graphics/Images.vue';
import Generator from '../../commons/views/graphics/Generator.vue';

export default {
  components: {
    I18n,
    Colors,
    Recommendations,
    Examples,
    Images,
    Generator,
  },
};
</script>
