<template>
  <main>
    <intro />

    <more />

    <degooglisons />

    <contributopia />

    <sfs />
  </main>
</template>

<script>
import Sfs from '../../commons/components/sfs/Main.vue';
import Intro from './home/Intro.vue';
import More from './home/More.vue';
import Degooglisons from './home/Degooglisons.vue';
import Contributopia from './home/Contributopia.vue';

export default {
  components: {
    Intro,
    More,
    Degooglisons,
    Contributopia,
    Sfs,
  },
};
</script>

<style lang="scss">
#home {
  font-size: 16px;

  .btn-soutenir {
    white-space: normal;
    max-width: 21em;
    font-size: 24px;
  }

  section {
    display: block;
    position: relative;
  }

  .pfooter {
    margin: 15px auto 0 ;
    padding-bottom: 30px;
    text-align: center;

    a {
      color: #fff;
      background: none;
      text-decoration: underline !important;
    }
  }

  .btn-circle .fa-stack-2x {
    box-shadow: var(--f-btm-shadow);
    border-radius: 100%;
    background: var(--f-g1);
  }

  #support {
    background: transparent url('../../public/img/dots.png') no-repeat 10% 90%;

    .col-lg-7 .ombre {
      margin-top: 3rem;
    }
  }
}
</style>
