<template>
  <section id="cuo">
    <div class="container-fluid">
      <div class="container">
        <h2 v-html="$t('home.cuo.title')"></h2>
      </div>
      <b-container class="ombre">
        <b-row>
          <b-col lg="4">
            <h4
              class="badge badge-warning"
              v-html="$t('home.cuo.peertube.title')"
            ></h4>
            <button
              class="bigbubble"
              :style="`background: url(${$t('/')}img/bubble-peertube.jpg);`"
              :aria-label="$t('home.cuo.peertube.title')"
            >
              <p v-html="$t('home.cuo.peertube.text')"></p>
            </button>
            <a
              href="#!"
              class="close"
              aria-hidden="true"
              v-text="'×'"
            ></a>
          </b-col>
          <b-col lg="4">
            <h4
              class="badge badge-primary"
              v-html="$t('home.cuo.mobilizon.title')"
            ></h4>
            <button
              class="bigbubble"
              :style="`background: url(${$t('/')}img/bubble-mobilizon.jpg);`"
              :aria-label="$t('home.cuo.mobilizon.title')"
            >
              <p v-html="$t('home.cuo.mobilizon.text')"></p>
            </button>
            <a
              href="#!"
              class="close"
              aria-hidden="true"
              v-text="'×'"
            ></a>
          </b-col>
          <b-col lg="4">
            <h4
              class="badge badge-secondary"
              v-html="$t('home.cuo.chatons.title')"
            ></h4>
            <button
              class="bigbubble"
              :style="`background: url(${$t('/')}img/bubble-chatons.jpg);`"
              :aria-label="$t('home.cuo.chatons.title')"
            >
              <p v-html="$t('home.cuo.chatons.text')"></p>
            </button>
            <a
              href="#!"
              class="close"
              aria-hidden="true"
              v-text="'×'"
            ></a>
          </b-col>
        </b-row>
        <p
          class="mx-auto mb-5 text-left"
          style="max-width: 800px"
          v-html="$t('home.cuo.intro')"
        ></p>
        <p class="col-sm-12 text-center">
          <a
            href="#support"
            class="btn btn-lg btn-soutenir"
            v-html="$t('home.cuo.btn')"
          ></a>
        </p>
      </b-container>
      <p
        class="pfooter"
        v-html="$t('home.cuo.footer')"
      ></p>
    </div>
  </section>
</template>

<style lang="scss">
#home {
  #cuo {
    color: #fff;

    h2 {
      color: #fff;
      text-shadow: 0px 0px 5px var(--f-g9);
      display: inline-block;
      font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
      font-size: 4rem;
      font-weight: 900;
    }

    /* h3 {
      color: #fff;
      text-shadow: 0px 0px 8px var(--f-v9);
      font-size: 40px;
    } */

    h4 {
      position: absolute;
      left: 1.5rem;
      top: -0.25rem;
      width: 6rem;
      height: 5.5rem;
      border-radius: 81% 75% 99% 71%;
      font-size: .95rem;
      font-weight: 700;
      padding: 2.3em 0;
      text-transform: uppercase;
      z-index: 2;
    }

    .container-fluid {
      padding-top: 120px;
      background: url('../../../public/img/3_Educ-Pop_by-David-Revoy.jpg') #6c6c2d;
      background-size: cover;
      background-position: center;
      margin: 0;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(
          to bottom,
          #1f1f1f1a 70%,
          #1f1f1f99 100%
        );
      }

      > * {
        display: block;
        position: relative;
      }
    }

    .container.ombre {
      margin-top: 180px;
      background: rgba(255,255,255,0.5);
      color: var(--f-d9);
      margin-bottom: 5px;
      padding: 3rem 0 2rem;
    }

    .col-sm-4 {
      position: relative;
    }

    .close {
      position: absolute;
      float: none;
      left: calc(50% + 125px);
      top: 20px;
      z-index: 1;
      display: none;
    }

    .bigbubble {
      display: block;
      padding: 60px 20px;
      border: none;
      border-radius: 82% 62% 86% 61%;
      height: 300px;
      width: 300px;
      margin: 15px auto 0;
      font-size: 14px;
      transition: border-radius 0.5s;

      p {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0s 0s;
        margin: 1rem 0 0;
      }

      &:before {
        visibility: hidden;
        position: absolute;
        border-radius: 82% 62% 86% 61%;
        height: 300px;
        width: 300px;
        content: '';
        margin-left: -150px;
        top: 15px;
        background: rgba(245, 245, 245, 0.8);
        transition: border-radius 0.5s;
      }

      &:hover,
      &:focus {
        border-radius: 0;

        p, &:before {
          visibility: visible;
        }

        p {
          opacity: 1;
          transition: opacity 0.3s 0.3s;
          min-height: 92px;
        }

        &:before {
          border-radius: 0;
        }
      }

      > * {
        display: block;
        position: relative;
      }
    }

    div:nth-child(3) > .bigbubble {
      border-radius: 77% 100% 78% 99%;
      &:before { border-radius: 77% 100% 78% 99%; }

      &:hover,
      &:focus {
        border-radius: 0;
        &:before { border-radius: 0; }
      }
    }

    .bigbubble:focus ~ .close {
      display: block;
    }

    div {
      text-align: center;
      margin-bottom: 30px;
    }

    @media (max-width: 1200px) {
      .close {
        left: calc(50% + 140px);
      }

    }
    @media (max-width: 992px) {
      h3 {
        left: calc(50% - 210px);
      }

      .close {
        left: calc(50% + 120px);
        top: 10px;
      }

      .bigbubble:before {
        top: 15px;
      }
    }

    @media (max-width: 480px) {
      .bigbubble,
      .bigbubble:before {
        height: 240px;
        width: 240px;
        padding: 40px 20px;
        font-size: 13px;
      }

      .bigbubble:before {
        margin-left: -120px;
      }

      h2 {
        font-size: 35px;
      }

      h3 {
        font-size: 30px;
      }

      h4 {
        left: calc(50% - 190px);
      }

      .close {
        left: calc(50% + 95px);
        top: 10px;
      }
    }
  }
}
</style>
