<template>
  <section
    id="dio"
    ref="dio"
  >
    <div class="container-fluid">
      <p class="btn-circle">
        <a
          aria-hidden="true"
          href="#dio"
          @click="$refs['dio'].scrollIntoView({ behavior: 'smooth' })"
        >
          <i
            class="fas fa-chevron-down fa-2x fa-shape-circle fa-border p-3 fc-v6 fd-v5 fb-d1"
          ></i>
        </a>
      </p>
      <div class="container">
        <h2 v-html="$t('home.dio.title')"></h2>
        <h3 v-html="$t('home.dio.subtitle', 0, {count: vcf.coverList.length })">
        </h3>
      </div>
      <b-container class="ombre">
        <h4 class="text-center">
          <span
            class="neon"
            v-text="vcf.index + 1"
          ></span>
          <br />
          <span v-text="vcf.coverList[vcf.index].title"></span>
        </h4>
        <p
          class="col-sm-6 mx-auto fc_g3"
          v-html="$t(`cat.cloud.sites.${vcf.coverList[vcf.index].id}.desc`)"
        ></p>
        <div class="text-center">
          <carousel-3d
            :autoplay="true"
            :autoplay-timeout="8000"
            :controls-visible="true"
            dir="ltr"
            :height="350"
            @after-slide-change="onAfterSlideChange"
          >
            <slide
              v-for="(slide, i) in vcf.coverList"
              :key="i"
              :index="i"
            >
              <template slot-scope="{ index, isCurrent, leftIndex, rightIndex }">
                <img
                  :data-index="index"
                  :class="{
                    current: isCurrent,
                    onLeft: (leftIndex >= 0),
                    onRight: (rightIndex >= 0)
                  }"
                  :src="slide.cover"
                  alt=""
                />
              </template>
            </slide>
          </carousel-3d>
        </div>
        <p class="text-center">
          <b-button
            href="#support"
            size="lg"
            variant="soutenir"
            v-html="$t('home.dio.btn')"
          />
        </p>
      </b-container>
      <p
        class="pfooter"
        v-html="$t('home.dio.footer')"
      ></p>
    </div>
  </section>
</template>

<script>
import { Carousel3d, Slide } from 'vue-carousel-3d';

export default {
  components: {
    Carousel3d,
    Slide,
  },
  data() {
    return {
      vcf: {
        coverList: [
          {
            cover: `${this.$t('/')}img/screens/agenda.png`,
            title: this.$t('txt.agenda'),
            id: 'agenda',
          },
          {
            cover: `${this.$t('/')}img/screens/pad.png`,
            title: this.$t('txt.pad'),
            id: 'pad',
          },
          {
            cover: `${this.$t('/')}img/screens/date.png`,
            title: this.$t('txt.date'),
            id: 'date',
          },
          {
            cover: `${this.$t('/')}img/screens/forms.png`,
            title: this.$t('txt.forms'),
            id: 'forms',
          },
          {
            cover: `${this.$t('/')}img/screens/talk.png`,
            title: this.$t('txt.talk'),
            id: 'talk',
          },
        ],
        index: 0,
      },
    };
  },

  mounted() {
    window.addEventListener('resize', this.coverflowSize);
  },

  methods: {
    onAfterSlideChange(index) {
      this.vcf.index = index;
    },
  },
};
</script>

<style lang="scss">
#home {
  #dio {
    color: #fff;

    .btn-circle {
      position: absolute !important;
      left: calc(50% - 38px);
      top: -38px;

      a {
        background: none;
        i::before {
          color: var(--f-v6);
        }
      }
    }

    &:target {
      .btn-circle {
        display: none;
      }
    }

    h2 {
      color: #fff;
      text-shadow: 0px 0px 10px #000;
      font-size: 46px;
    }

    h3 {
      color: var(--f-g1);
      font-weight: normal;
      // text-shadow: 0px 0px 5px #000;
      background: linear-gradient(to bottom, rgba(45,55,72,.9) 7%, rgba(26,32,44,.9) 100%);
      display: inline-block;
      padding: 0.3em;
      margin-left: -0.3em;
      border-radius: 10px;
      line-height: 1.3;
    }

    h4 {
      font-size: 4rem;
      font-weight: 400;
      color: #fff;

      .neon {
        font-size: 6rem;
      }
    }

    @media (max-width: 480px) {
      h4 {
        font-size: 3rem;
      }
    }

    h3 strong,
    .neon {
      font-weight: 400;
      color: #e6ff2e;
    }

    .container-fluid {
      padding-top: 120px;
      background: url('../../../public/img/Peha-Banquet-CC-By-1920.jpg') var(--f-g8);
      background-size: cover;
      background-position: center;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background: var(--f-d9);
      }

      > * {
        display: block;
        position: relative;
      }
    }

    .container.ombre {
      margin-top: 130px;
      background: linear-gradient(to bottom, rgba(45,55,72,.9) 7%, rgba(26,32,44,1) 100%);
      margin-bottom: 5px;
      padding: 2em 0 2.5em;
      border-radius: 10px;
    }

    .col-sm-6 {
      min-height: 120px;
    }

    .carousel-3d-slide {
      background: transparent;
      border: none;
    }

    .prev, .next {
      color: #eee;
    }

    @media (max-width: 480px) {
      h2 {
        font-size: 32px;
      }

      .coverflow {
        margin-top: -20px;
      }
    }
  }
}
</style>
