<template>
  <section id="intro">
    <div class="bg">
      <div
        id="bubbles"
        class="bubbles"
      ></div>
      <div
        id="bubbles2"
        class="bubbles"
      ></div>
      <div
        id="bubbles3"
        class="bubbles"
      ></div>
    </div>
    <div class="container">
      <b-row class="mx-0 justify-content-end">
        <I18n />
      </b-row>
      <b-row>
        <b-col lg="5">
          <h1 v-html="$t('txt.soft')"></h1>
          <h2 v-html="$t('home.intro.subtitle')"></h2>
          <p v-html="$t('home.intro.text')"></p>
          <p>
            <b-button
              href="#support"
              variant="soutenir"
              size="lg"
              v-html="$t('home.intro.btn')"
            />
          </p>
        </b-col>
        <b-col
          lg="7"
          class="text-center"
        >
          <img
            :src="`${$t('/')}img/biglogo-notxt.png`"
            alt=""
            class="rounded-circle"
          />
        </b-col>
      </b-row>
    </div>
  </section>
</template>
<script>
import I18n from '../../../commons/components/I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>

<style lang="scss">
#home {
  #intro {
    background: url('../../../public/img/bg_pinchot.png') top center no-repeat,
      var(--f-f7) linear-gradient(to top right, var(--f-f7) 7%, var(--f-f5) 100%);
    background-size: cover;
    padding-bottom: 40px;
    color: #fff;

    .btn-outline-secondary {
      background: #fff;
      &:hover {
        background-color: var(--f-g6);
      }
    }
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: var(--f-g6);
    }

    h1, h2 { color: #fff; }

    h2 {
      margin-bottom: 42px;
    }
    p {
      font-size: 24px;
      margin-bottom: 32px;
    }

    img {
      box-shadow: var(--f-img-shadow);
      background: var(--f-g1);
      max-width: 400px;
      width: 80%;
    }
  }

  .bubbles {
    background: transparent;
    border-radius: 100%;

  }
  .bubbles:after {
    content: ' ';
    background: transparent;
    border-radius: 100%;
  }
  $bb: rgba(#edd8fd, .4);

  #bubbles {
    width: 16px;
    height: 16px;
    box-shadow:
      611px 1535px $bb,
      1287px 980px $bb,
      810px 474px $bb,
      1037px 1730px $bb,
      503px 800px $bb,
      32px 942px $bb,
      173px 1796px $bb,
      950px 171px $bb,
      983px 729px $bb,
      1124px 1455px $bb,
      1646px 1742px $bb,
      769px 714px $bb,
      1236px 1295px $bb,
      328px 1970px $bb,
      1689px 1163px $bb,
      251px 730px $bb,
      1845px 936px $bb,
      1215px 537px $bb,
      1237px 385px $bb,
      748px 445px $bb,
      1026px 334px $bb,
      1168px 1687px $bb,
      217px 1116px $bb,
      47px 717px $bb,
      646px 1497px $bb,
      100px 999px $bb,
      237px 1292px $bb,
      891px 495px $bb,
      1521px 1193px $bb,
      735px 250px $bb,
      373px 1778px $bb,
      789px 510px $bb,
      533px 1313px $bb,
      72px 915px $bb;
  }
  #bubbles2 {
    width: 24px;
    height: 24px;
    box-shadow:
      1016px 515px $bb,
      801px 1742px $bb,
      518px 63px $bb,
      1739px 1383px $bb,
      607px 1077px $bb,
      667px 1622px $bb,
      795px 1338px $bb,
      990px 1275px $bb,
      1208px 22px $bb,
      1753px 1482px $bb,
      1010px 1210px $bb,
      632px 1538px $bb,
      49px 1136px $bb,
      387px 1695px $bb,
      206px 1052px $bb,
      493px 884px $bb,
      156px 1794px $bb,
      1391px 284px $bb,
      595px 975px $bb,
      193px 1554px $bb,
      542px 1264px $bb,
      21px 878px $bb,
      831px 1591px $bb,
      1735px 152px $bb,
      1248px 431px $bb,
      653px 1430px $bb,
      71px 56px $bb,
      920px 970px $bb,
      445px 639px $bb,
      249px 1022px $bb,
      209px 1435px $bb,
      1273px 1619px $bb,
      327px 1330px $bb;
  }
  #bubbles3 {
    width: 32px;
    height: 32px;
    box-shadow:
      1393px 340px $bb,
      886px 1010px $bb,
      860px 47px $bb,
      1229px 1103px $bb,
      1228px 859px $bb,
      1669px 893px $bb,
      99px 1320px $bb,
      879px 637px $bb,
      1788px 1810px $bb,
      1914px 1045px $bb,
      1313px 242px $bb,
      757px 1086px $bb,
      1047px 629px $bb,
      887px 1812px $bb,
      384px 1427px $bb,
      1459px 996px $bb,
      1154px 1093px $bb,
      1923px 681px $bb,
      998px 56px $bb,
      57px 969px $bb,
      1311px 82px $bb,
      1633px 820px $bb,
      367px 1703px $bb,
      786px 573px $bb,
      839px 781px $bb,
      865px 1073px $bb,
      369px 1339px $bb,
      1162px 360px $bb,
      1499px 218px $bb;
  }
}
</style>
