<template>
  <section id="mobilizon">
    <div class="embed-responsive embed-responsive-16by9">
      <img
        :src="`${$t('/')}img/mobilizon/event.gif`"
        class="embed-responsive-item"
        alt=""
        style="width: 100%"
      />
    </div>
    <b-container class="ombre">
      <h2 v-html="$t('home.mobilizon.title')"></h2>
      <p v-html="$t('home.mobilizon.text')"></p>
      <p>
        <b-button
          :href="$t('home.mobilizon.link')"
          v-html="$t('home.mobilizon.btn')"
        />
      </p>
    </b-container>
    <p
      class="pfooter"
      v-html="$t('home.mobilizon.footer')"
    ></p>
  </section>
</template>

<script>
export default {
  data() {
    return {
      videoBackground: 'about:blank',
    };
  },
};
</script>

<style lang="scss">
#home {
  #mobilizon {
    > .embed-responsive {
      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.2);
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWOIjs7/z8DAwICLJgyGhQkAFNQiQSF5mAcAAAAASUVORK5CYII=');
      }
    }

    .container.ombre {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 40%;
      height: auto;
      background: rgba(255, 255, 255, 0.9);
      padding-bottom: 20px;
    }

    @media (max-width: 993px) {
      .container.ombre {
        width: calc(100% - 100px);
      }
    }

    .pfooter {
      position: relative;
      margin-top: -60px;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 60px;
      background: rgba(255, 255, 255, 0.7);

      a {
        color: var(--f-d9);
      }
    }
  }

  @media (max-width: 768px) {
    #mobilizon {
      > .embed-responsive {
        display: none;
      }

      .container.ombre {
        position: relative;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        box-shadow: none;
        margin-bottom: 0;
        top: 0;
        right: 0;
      }

      .pfooter {
        height: auto;
        margin-top: 0;
      }
    }
  }
}
</style>
