<template>
  <section id="more">
    <div class="container-fluid">
      <div class="container">
        <h2
          class="text-left"
          v-html="$t('home.more.title')"
        ></h2>
        <b-row>
          <b-col md="3">
            <i
              :class="`${$t('icon.libre')} fa-lg fa-shape-circle fa-border fa-flex-center
              p-3 mt-3 mb-2 fc-b7 fd-b6`"
            ></i>
            <h3 v-html="$t('home.more.libre.title')"></h3>
            <p v-html="$t('home.more.libre.text')"></p>
          </b-col>
          <b-col md="3">
            <i
              :class="`${$t('icon.book')} fa-lg fa-shape-circle fa-border fa-flex-center
              p-3 mt-3 mb-2 fc-r8 fd-r7`"
            ></i>
            <h3 v-html="$t('home.more.book.title')"></h3>
            <p v-html="$t('home.more.book.text')"></p>
          </b-col>
          <b-col md="3">
            <i
              :class="`${$t('icon.blog')} fa-lg fa-shape-circle fa-border fa-flex-center
              p-3 mt-3 mb-2 fc-f7 fd-f6`"
            ></i>
            <h3 v-html="$t('home.more.blog.title')"></h3>
            <p v-html="$t('home.more.blog.text')"></p>
          </b-col>
          <b-col md="3">
            <i
              :class="`fas fa-users fa-lg fa-shape-circle fa-border fa-flex-center
              p-3 mt-3 mb-2 fc-o7 fd-o6`"
            ></i>
            <h3 v-html="$t('home.more.confs.title')"></h3>
            <p v-html="$t('home.more.confs.text')"></p>
          </b-col>
        </b-row>
      </div>
      <p class="pfooter">
        <span v-html="$t('home.more.footer')"></span>
        <router-link
          :to="`/${$t('lang')}/full`"
          v-html="$t('home.more.link')"
        />
      </p>
    </div>
  </section>
</template>

<style lang="scss">
#home {
  #more {
    .container-fluid {
      background: var(--f-g1);
      padding: 60px 0px 90px;
    }

    a {
      color: var(--f-d9);
    }

    @media (max-width: 768px) {
      .col-sm-3 {
        padding-bottom: 30px;
      }
    }
  }
}
</style>
