<template>
  <section
    id="peertube"
    class="clearfix"
  >
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        v-if="peertube"
        v-view.once="loadPeertube"
        width="560"
        height="315"
        sandbox="allow-same-origin allow-scripts"
        :src="videoBackground"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
    <b-container class="ombre">
      <h2 v-html="$t('home.peertube.title')"></h2>
      <p v-html="$t('home.peertube.text')"></p>
      <p>
        <a
          href="#peertube"
          class="btn btn-default"
          @click="openPeertubeModal();"
          v-html="$t('home.peertube.btn')"
        ></a>
      </p>
    </b-container>
    <p
      class="pfooter"
      v-html="$t('home.peertube.footer')"
    ></p>

    <!--
      TO UPDATE

    <b-modal
      id="modalPT"
      v-model="modal.openPT"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalPTLabel"
      aria-hidden="true"
      size="lg"
    >
      <div slot="header">
        <button
          type="button"
          class="close"
          @click="modal.openPT = false;"
        >
          <span aria-hidden="true">&times;</span>
          <span
            class="sr-only"
            v-html="$t('txt.close')"
          ></span>
        </button>
        <h1
          id="modalPTLabel"
          class="modal-title"
          v-html="$t('home.peertube.modal.title')"
        ></h1>
      </div>

      <p v-html="$t('home.peertube.modal.text')"></p>
      <div class="clearfix">
        <tabs pills>
          <tab
            v-for="index in Object.keys($t('home.peertube.modal.features'))"
            :key="index"
            :title="(index + 1)"
          >
            <h3 v-html="$t(`home.peertube.modal.features[${index}]`)"></h3>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                v-if="peertube"
                width="560"
                height="315"
                sandbox="allow-same-origin allow-scripts"
                :src="loadedPeertubeFeatures[index]"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </tab>
        </tabs>
      </div>
      <div slot="footer">

      </div>
    </b-modal> -->
  </section>
</template>

<script>
export default {
  data() {
    return {
      peertube: !window.vuefsPrerender && process.env.NODE_ENV !== 'development',
      loadedPeertubeFeatures: [],
      peertubeFeatures: [
        'https://framatube.org/videos/embed/59d306c0-fc5b-493a-956a-43785693346b',
        'https://framatube.org/videos/embed/dcad56d9-9fe6-45bc-96aa-3d778f6804c1',
        'https://framatube.org/videos/embed/edd7a468-08d5-4877-b62b-61c5f3f83ceb',
        'https://framatube.org/videos/embed/60c4bea4-6bb2-4fce-8d9f-8a522575419d',
        'https://framatube.org/videos/embed/8968dbe1-a387-433b-a20f-37fe9f3ca8d5',
        'https://framatube.org/videos/embed/f57da309-6b92-4fe0-9267-ff8188cc050c',
      ],
      videoBackground: 'about:blank',
      modal: {
        openPT: false,
      },
    };
  },
  methods: {
    loadPeertube(e) {
      if (e.type === 'enter') {
        this.videoBackground = 'https://framatube.org/videos/embed/12b7c838-84f6-4b7d-98c6-686e4adce61d?autoplay=1&loop=1&muted=1&controls=0';

        // Load the first modal iframe
        this.loadedPeertubeFeatures = [this.peertubeFeatures[0]];
      }
    },
    openPeertubeModal() {
      // Load all modal iframes
      this.loadedPeertubeFeatures = this.peertubeFeatures;

      this.modal.openPT = true;
    },
  },
};
</script>

<style lang="scss">
#home {

  #peertube {
    background: url('../../../public/img/peertube.png') center center no-repeat;
    > .embed-responsive {
      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.2);
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWOIjs7/z8DAwICLJgyGhQkAFNQiQSF5mAcAAAAASUVORK5CYII=');
      }
    }

    .container.ombre {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 33%;
      height: auto;
      background: rgba(255, 255, 255, 0.9);
      padding-bottom: 20px;
    }

    @media (max-width: 993px) {
      .container.ombre {
        width: calc(100% - 100px);
      }
    }

    .pfooter {
      position: relative;
      margin-top: -60px;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 60px;
      background: rgba(255, 255, 255, 0.7);

      a {
        color: var(--f-d9);
      }
    }

    .nav-pills {
      float: left;
      width: 10%;
      margin-top: 40px;
      margin-right: 20px;

      > li {
        float: none;
        border-right: 2px solid #737373;

        a {
          color: #211F20;
          font-size: 35px;
          line-height: 45px;
          background-color: transparent;
          color: #737373;
          font-weight: bold;
          border-radius: 0;
        }

        &.active {
          a {
            color: #F1680D;
          }

          &:after,
          &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(245,245,245,0);
            border-left-color: #f5f5f5;
            border-width: 10px;
            margin-top: -10px
          }

          &:before {
            border-color: rgba(38,38,38,0);
            border-left-color: #555;
            border-width: 12px;
            margin-top: -12px
          }
        }
      }
    }

    .tab-content {
      width: calc(90% - 20px);
      float: left;
    }

    h3 {
      color: #F1680D;
    }

    .modal {
      top: 40px;
    }

    .modal-header {
      background: #fff;
    }
    .modal-footer {
      border: none;
    }
    .modal-content {
      border-radius: 0;
    }
  }

  &.modal-open #peertube {
    > .embed-responsive iframe,
    .container.ombre {
      visibility: hidden;
    }
  }

  @media (max-width: 768px) {
    #peertube {
      > .embed-responsive {
        display: none;
      }

      .container.ombre {
        position: relative;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        box-shadow: none;
        margin-bottom: 0;
        top: 0;
        right: 0;
      }

      .pfooter {
        height: auto;
        margin-top: 0;
      }
    }
  }
}
</style>
