@import '../../commons/scss/frama/colors';
@import '../../commons/scss/frama/shadows';

/* Frameworks */
/* Bootstrap brown variant
  $bsColor: (('f', 7), ('m', 7), ('m', 8), ('m', 2), ('b', 7), ('v', 6), ('o', 7), ('r', 8), ('d', 7));

  $secondary: bs(c, 2);
  $dark: bs(c, 3);
  $light: bs(c, 4);
*/
@import 'frameworks/bootstrap4';
@import 'frameworks/iconslk';

/* Fonts */
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';

/* Frama */
@import 'frama/bootstrap4';
@import '../../commons/scss/frama/common';